body {
  background-image: url(./images/train.jpg);
  background-size: cover;
}

.form-group {
  background-color: rgb(9, 77, 6);
  color: white;
}

.form-control {
  background-color: rgb(247, 241, 241);
  color: black;
}

.jumbotron {
  font-family: "Open Sans", sans-serif;
}
